<div class="card">
  <%= image_tag "ricomida.png", class: "card-img-top", alt: "Proyecto ricomida" %>
  <div class="card-body">
    <h5 class="card-title">Ricomida</h5>
    <p class="card-text">Web de pizzas.</p>
    <%= link_to "Ver más", "https://jcartronics.github.io/Ricomida/", class: "btn btn-warning btn-style" %>
  </div>
</div>
<div class="card">
  <%= image_tag "viajes.png", class: "card-img-top", alt: "Proyecto viajes" %>
  <div class="card-body">
    <h5 class="card-title">Viajes Chile</h5>
    <p class="card-text">Web de viajes.</p>
    <%= link_to "Ver más", "https://jcartronics.github.io/Viajes-Chile/", class: "btn btn-warning btn-style" %>
  </div>
</div>
<div class="card">
  <%= image_tag "cuppon.png", class: "card-img-top", alt: "Proyecto cuppon" %>
  <div class="card-body">
    <h5 class="card-title">Cuppon</h5>
    <p class="card-text">Proyecto basado en Groupon.</p>
    <%= link_to "Ver más", "https://jcartronics.github.io/Cuppon/", class: "btn btn-warning btn-style" %>
  </div>
</div>

